/* Universal styles */
html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

/* Header styles */
nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

nav li.active a {
  background-color: transparent !important;
  color: #399bd1 !important;
}
